In [1]:
import re
coordinate = "5,5"
re.split(r',', coordinate)

['5', '5']

In [2]:
coordinate.split(',')

['5', '5']

In [9]:
re.search(r'(\w+),', coordinate).group(1)

'5'

In [10]:
coordinate_list = list(map(int, coordinate.split(',')))
print(coordinate_list)

[5, 5]

In [11]:
coord_list2 = [int(q) for q in coordinate.split(',')]
print(coord_list2)

[5, 5]

In [12]:
import re

addition = "add two and seven"
subtraction = "subtract, six from four"

print(re.split(r'\W*\s+', subtraction))

['subtract', 'six', 'from', 'four']

In [18]:
def add(a,b):
  return a + b


def subtract(a,b):
  return a - b


def multiply(a,b):
  return a * b


def divide(a,b):
  return a / b


translator = {
  "add": add,
  "plus": add,
  "subtract": subtract,
  "minus": subtract,
  "take away": subtract,
  "multiply": multiply,
  "times": multiply,
  "divide": divide,
  "division": divide,
  "divided": divide,
  "over": divide
}


"under" in translator

False

In [26]:
number_in_words = '''0	zero'''

In [39]:
Number_In_Words = '''0	zero
1	one
2	two
3	three
4	four
5	five
6	six
7	seven
8	eight
9	nine
10	ten
11	eleven
12	twelve
13	thirteen
14	fourteen
15	fifteen
16	sixteen
17	seventeen
18	eighteen
19	nineteen
20	twenty
21	twenty-one
22	twenty-two
23	twenty-three
24	twenty-four
25	twenty-five
26	twenty-six
27	twenty-seven
28	twenty-eight
29	twenty-nine
30	thirty
31	thirty-one
32	thirty-two
33	thirty-three
34	thirty-four
35	thirty-five
36	thirty-six
37	thirty-seven
38	thirty-eight
39	thirty-nine
40	forty
41	forty-one
42	forty-two
43	forty-three
44	forty-four
45	forty-five
46	forty-six
47	forty-seven
48	forty-eight
49	forty-nine
50	fifty
51	fifty-one
52	fifty-two
53	fifty-three
54	fifty-four
55	fifty-five
56	fifty-six
57	fifty-seven
58	fifty-eight
59	fifty-nine
60	sixty
61	sixty-one
62	sixty-two
63	sixty-three
64	sixty-four
65	sixty-five
66	sixty-six
67	sixty-seven
68	sixty-eight
69	sixty-nine
70	seventy
71	seventy-one
72	seventy-two
73	seventy-three
74	seventy-four
75	seventy-five
76	seventy-six
77	seventy-seven
78	seventy-eight
79	seventy-nine
80	eighty
81	eighty-one
82	eighty-two
83	eighty-three
84	eighty-four
85	eighty-five
86	eighty-six
87	eighty-seven
88	eighty-eight
89	eighty-nine
90	ninety
91	ninety-one
92	ninety-two
93	ninety-three
94	ninety-four
95	ninety-five
96	ninety-six
97	ninety-seven
98	ninety-eight
99	ninety-nine
100	one hundred
'''

the_hundreds = re.split(r'\s*[0-9]+\s+', Number_In_Words)
# num_list = []
# for index in range(50):
#     num_list.append
the_hundreds.pop(0)
the_hundreds[100] = 'one hundred'
print(the_hundreds)

['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen', 'twenty', 'twenty-one', 'twenty-two', 'twenty-three', 'twenty-four', 'twenty-five', 'twenty-six', 'twenty-seven', 'twenty-eight', 'twenty-nine', 'thirty', 'thirty-one', 'thirty-two', 'thirty-three', 'thirty-four', 'thirty-five', 'thirty-six', 'thirty-seven', 'thirty-eight', 'thirty-nine', 'forty', 'forty-one', 'forty-two', 'forty-three', 'forty-four', 'forty-five', 'forty-six', 'forty-seven', 'forty-eight', 'forty-nine', 'fifty', 'fifty-one', 'fifty-two', 'fifty-three', 'fifty-four', 'fifty-five', 'fifty-six', 'fifty-seven', 'fifty-eight', 'fifty-nine', 'sixty', 'sixty-one', 'sixty-two', 'sixty-three', 'sixty-four', 'sixty-five', 'sixty-six', 'sixty-seven', 'sixty-eight', 'sixty-nine', 'seventy', 'seventy-one', 'seventy-two', 'seventy-three', 'seventy-four', 'seventy-five', 'seventy-six', 'seventy-seven', 'seventy-eight', 'seventy-nine', 'eighty', 'eighty-one', 'eighty-two', 'eighty-three', 'eighty-four', 'eighty-five', 'eighty-six', 'eighty-seven', 'eighty-eight', 'eighty-nine', 'ninety', 'ninety-one', 'ninety-two', 'ninety-three', 'ninety-four', 'ninety-five', 'ninety-six', 'ninety-seven', 'ninety-eight', 'ninety-nine', 'one hundred']

In [40]:
zero_through_hundred = [i for i in range(101)]
print(zero_through_hundred)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [42]:
dashless = [re.sub('-', ' ', element) for element in the_hundreds]
print(dashless)

['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen', 'twenty', 'twenty one', 'twenty two', 'twenty three', 'twenty four', 'twenty five', 'twenty six', 'twenty seven', 'twenty eight', 'twenty nine', 'thirty', 'thirty one', 'thirty two', 'thirty three', 'thirty four', 'thirty five', 'thirty six', 'thirty seven', 'thirty eight', 'thirty nine', 'forty', 'forty one', 'forty two', 'forty three', 'forty four', 'forty five', 'forty six', 'forty seven', 'forty eight', 'forty nine', 'fifty', 'fifty one', 'fifty two', 'fifty three', 'fifty four', 'fifty five', 'fifty six', 'fifty seven', 'fifty eight', 'fifty nine', 'sixty', 'sixty one', 'sixty two', 'sixty three', 'sixty four', 'sixty five', 'sixty six', 'sixty seven', 'sixty eight', 'sixty nine', 'seventy', 'seventy one', 'seventy two', 'seventy three', 'seventy four', 'seventy five', 'seventy six', 'seventy seven', 'seventy eight', 'seventy nine', 'eighty', 'eighty one', 'eighty two', 'eighty three', 'eighty four', 'eighty five', 'eighty six', 'eighty seven', 'eighty eight', 'eighty nine', 'ninety', 'ninety one', 'ninety two', 'ninety three', 'ninety four', 'ninety five', 'ninety six', 'ninety seven', 'ninety eight', 'ninety nine', 'one hundred']

In [44]:
merged = [re.sub(' ', '', item) for item in dashless]
print(merged)

['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen', 'twenty', 'twentyone', 'twentytwo', 'twentythree', 'twentyfour', 'twentyfive', 'twentysix', 'twentyseven', 'twentyeight', 'twentynine', 'thirty', 'thirtyone', 'thirtytwo', 'thirtythree', 'thirtyfour', 'thirtyfive', 'thirtysix', 'thirtyseven', 'thirtyeight', 'thirtynine', 'forty', 'fortyone', 'fortytwo', 'fortythree', 'fortyfour', 'fortyfive', 'fortysix', 'fortyseven', 'fortyeight', 'fortynine', 'fifty', 'fiftyone', 'fiftytwo', 'fiftythree', 'fiftyfour', 'fiftyfive', 'fiftysix', 'fiftyseven', 'fiftyeight', 'fiftynine', 'sixty', 'sixtyone', 'sixtytwo', 'sixtythree', 'sixtyfour', 'sixtyfive', 'sixtysix', 'sixtyseven', 'sixtyeight', 'sixtynine', 'seventy', 'seventyone', 'seventytwo', 'seventythree', 'seventyfour', 'seventyfive', 'seventysix', 'seventyseven', 'seventyeight', 'seventynine', 'eighty', 'eightyone', 'eightytwo', 'eightythree', 'eightyfour', 'eightyfive', 'eightysix', 'eightyseven', 'eightyeight', 'eightynine', 'ninety', 'ninetyone', 'ninetytwo', 'ninetythree', 'ninetyfour', 'ninetyfive', 'ninetysix', 'ninetyseven', 'ninetyeight', 'ninetynine', 'onehundred']